@charset "UTF-8";

@media screen and (min-width:320px) and (max-width:800px){

    *{
        margin-top: 1px;
        width:100%;
    }

    header{
        width:100%;
        padding-right: 0px;
        padding-left: 15px;
        
    }

    header > nav{
        padding:0px;
    }
   
    div#historia, div#skills, div#projetos, div#contato, div#contato > div.contato, div#principal>div#inicio, div#projetos > div.portfolio, div#contato > div > div#loc{
        width:100%;
        padding-right: 15px;
        padding-left: 0px;
    
    
    }

    div#projetos{
        padding-left: 0px;
    }

    div#principal > div#inicio > img{
        left:69%;
        top:50%;
        height: 150px;
        width: 150px;
        
    }

    div#projetos > div.portfolio  > img.projetos{
        height:400px;
        width:400px;
        
        
    }

    div#historia{
        width:100%;
        margin-left:0px ;
        margin-right: 0px;
    }

    div#projetos > div.portfolio  > p{
        width:100%;
        margin-left:0px ;
        margin-right: 0px;
        margin: auto;
        padding-left: 0px;
    }
    div#contato > div > iframe#local{
        display:none;
    }
    div#contato > div > p#loc{
        display:none;
    }
    div#contato > div{
        width:100%;
        padding:0px;
    }
    

    div#contato > div.contato > img{
        
        padding-left: 2px;
        top:-120px;
        left:75%;
    }
    
    div#contato > div#local > img{
        padding-left: 2px;
        
    }
    div#contato > div.contato > p{
        left:1%;
        top:75%;
    }
    div#contato > div#local > p{
        left:1%;
        top:60%;
    }
}
