@charset "UTF=8";

*{
    margin:0px;
    padding:0px;
}

header{
    
    background-color: black;
    color: white;
    padding:10px;
}

header a{
    background-color: gray;
    padding:8px;
    border-radius: 10px;
    text-decoration: none;
    color:white;
    margin-right: 10px;
}

header a:hover{
    background-color: cadetblue;
}

div{
    background-color: gray;
    position:absolute;
    width:100%;
}

div > img{
    position:relative;
    left:70%;
    padding:10px;
    height:200px;
    width:200px;
    border-radius: 50%;
   
}